<template>
    <div class="colblock_body">
        <div class="colblock_header">
            <h2>
                <slot></slot>
            </h2>
        </div>
        <v-chart
            :options="BarGraph"
            :init-options="initOptions"
            autoresize
        />
    </div>
</template>

<script>
  import qs from 'qs'
  import ECharts from 'vue-echarts'
  import 'echarts/lib/chart/bar'
  import 'echarts/lib/component/tooltip'
  import 'echarts/lib/chart/line'
  import 'echarts/lib/component/polar'
  import 'echarts-gl'
  import 'zrender/lib/svg/svg';
  export default {
    components: {
      'v-chart': ECharts
    },
    mounted(){
      this.DataSelect()
    },
    computed:{
      ANALYSIS_RECEIVED_CALLS(){
        return this.$store.getters['statistics/ANALYSIS_RECEIVED_CALLS']
      }
    },
    watch: {
      ANALYSIS_RECEIVED_CALLS(){
        this.chartsBar()
      },
      connected: {
        handler(value) {
          ECharts[value ? 'connect' : 'disconnect']('radiance')
        },
        immediate: true
      },
      'initOptions.renderer'(value) {
        this.options.renderer = value === 'svg' ? value : undefined;
        let query = qs.stringify(this.options);
        query = query ? ('?' + query) : '';
        history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
      }
    },
    methods: {
      toggleRenderer() {
        if (this.initOptions.renderer === 'canvas') {
          this.initOptions.renderer = 'svg'
        } else {
          this.initOptions.renderer = 'canvas'
        }
      },
      async DataSelect(){
          if(this.$store.getters['statistics/ANALYSIS_RECEIVED_CALLS'].length==0){
               await  this.$store.dispatch('statistics/fetch', this.$store.getters['statistics/STATISTICS_URL'][5])
          }
      },
        chartsBar(){
            let  monthsData=[],Series=[], Name = []
            let i = 0
            let grafData = this.$store.getters['statistics/ANALYSIS_RECEIVED_CALLS']
            for(let item in grafData.headers){
                let LineValue=[]
                for(let index of grafData.data){
                    if(item=='id0' && monthsData.indexOf(index[item])==(-1)){
                        monthsData.push(index[item])
                    }
                    else{
                        LineValue.push(index[item])
                    }  
                }
                if(item!="id0"){
                    Series.push({
                        name: grafData.headers[item],
                        type: 'bar',
                        seriesLayoutBy: 'row',
                        data: LineValue,
                        smooth: false,
                        barMaxWidth: 19,
                        label: {  normal: {
                                show: true,
                                position: 'top',
                                backgroundColor: '#ffffff',
                                color: "#101B21" ,
                                fontStyle: 'normal' ,
                                fontWeight: 'bold' ,
                                fontFamily: 'Segoe UI' ,
                                fontSize: 12 ,
                                lineHeight: 18,
                            }
                        },
                        color: this.colorGrap[i]
                    })
                    i++
                  }
            }

            this.BarGraph.xAxis.data = monthsData
            // this.lineGraph.legend.data = legend
            this.BarGraph.series = Series 
        }
    },
    data() {
        let options = qs.parse(location.search, {ignoreQueryPrefix: true});        
      return {
        colorGrap: ['#FF7474','#74C3FF','#C6D1D9'],
        initOptions: {
          renderer: options.renderer || 'canvas'
        },
        BarGraph: {
            // title: {
            // // text:'Среднее время вызовов, мин.'
            // },
          tooltip: {
            trigger: 'axis',
            showContent: true,
            position: function (pos, params, dom, rect, size) {
                                let obj = {top: 0};
                                obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 0;
                                return obj;
                    }
          },
          legend: {
                // bottom: 0,
                type: 'scroll',
                bottom:'10%',
                left: '3.5%',
                right: '3.5%',
                icon: 'path://M10 10 H 90 V 90 H 10 L 10 10',
                textStyle: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 14,
                    padding: [0, 10, 0, 0],
                },
                formatter :function (name){
                    let text=[]
                    let item = name.split(' ')
                    let str1 = item.slice(0 , Math.round(item.length/2)).join(' ')
                    let str2 = item.slice(Math.round(item.length/2)).join(' ')
                    return  [str1,str2].join('\n')
                }
          },
          grid: {
            // top: '0%',
            // left: '4%',
            // right: '4%',
            // bottom: '7%',
            top: '7%',
            left: '4%',
            right: '4%',
            bottom: '22%',
            containLabel: true
          },
          xAxis: 
            {
                data: [],
                axisLine: {show: false},
                axisTick: {show: false},
                axisLabel: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 18,
                    formatter: function (value) {
                        return value.slice(0,3)
                    },
                }
            },
          yAxis: {
                gridIndex: 0,
                axisLine: {show: false},
                axisTick: {show: false},
                axisLabel: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 18,
                }
          },
          series: [],
          animationDuration: 1000
        },
      }
    }
  }
</script>
<style lang="scss" scoped>
  .echarts {
    width: 100%;
    min-height: 250px;
    max-height: 280px;
  }
  .colblock_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.75rem 1.56rem .5rem 1.75rem;//1.25
    -webkit-box-pack: justify;
    justify-content: space-between;
    & h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #101B21;
    }
}
</style>
