<template>
    <div>
        <!-- class="colblock_body" -->
        <div class="colblock_header">
            <h2>
                <slot></slot>
            </h2>
        </div>
        <v-chart
            :options="lineGraph"
            :init-options="initOptions"
            autoresize
        />
    </div>
</template>

<script>
  import qs from 'qs'
  import ECharts from 'vue-echarts'
  import 'echarts/lib/chart/bar'
  import 'echarts/lib/component/tooltip'
  import 'echarts/lib/chart/line'
  import 'echarts/lib/component/polar'
  import 'echarts-gl'
  import 'zrender/lib/svg/svg';
  export default {
    // props: ['dataApp','title'],
    components: {
      'v-chart': ECharts
    },
    mounted(){
        this.DataSelect()
    },
    computed:{
        AVG_CALLS_TIME(){
            return this.$store.getters['statistics/AVG_CALLS_TIME']
        }
    },
    watch: {
        AVG_CALLS_TIME(){
            this.chartsLine()
        },
        connected: {
            handler(value) {
                ECharts[value ? 'connect' : 'disconnect']('radiance')
            },
            immediate: true
        },
        'initOptions.renderer'(value) {
            this.options.renderer = value === 'svg' ? value : undefined;
            let query = qs.stringify(this.options);
            query = query ? ('?' + query) : '';
            history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
        }
    },
    methods: {
        toggleRenderer() {
            if (this.initOptions.renderer === 'canvas') {
                this.initOptions.renderer = 'svg'
            } else {
                this.initOptions.renderer = 'canvas'
            }
        },
        async DataSelect(){
            if(this.$store.getters['statistics/AVG_CALLS_TIME'].length==0){
                await  this.$store.dispatch('statistics/fetch', this.$store.getters['statistics/STATISTICS_URL'][7])
            }
        },
        chartsLine(){
            let  monthsData=[],Series=[]
            // let Color=['#FF7474','#74C3FF']
            let i=0
            let graphApp = this.$store.getters['statistics/AVG_CALLS_TIME']

            let minTime = new Date;
            minTime.setHours(0, 23, 59, 0);
            
            let maxTime = new Date
            maxTime.setHours(0, 0, 0, 0);

            // console.log(graphApp)
            for(let item in graphApp.headers){
                let LineValue=[]
                for(let index of graphApp.data){
                    if(item=='id0' && monthsData.indexOf(index[item])==(-1)){
                        monthsData.push(index[item])
                    }
                    else{                        
                        let time = [] 
                        if(index[item]==0)
                            time = [0,0]
                        else
                            time = index[item].split(':')
                        let today = new Date;
                        today.setHours(0, time[0],time[1], 0);

                        if(today>maxTime){
                            maxTime = today
                        }
                        if(today < minTime){
                            minTime = today
                        }
                        LineValue.push(today)
                    }  
                }
                if(item!="id0"){
                    Series.push({
                        name: graphApp.headers[item],
                        type: 'line',
                        data: LineValue,
                        smooth: false,
                        symbolSize: 8,
                        lineStyle:{
                            width: 3,
                        },
                        label: {  normal: {
                                    show: true,
                                    backgroundColor: '#ffffff',
                                    color: "#101B21" ,
                                    fontStyle: 'normal' ,
                                    fontWeight: 'bold' ,
                                    fontFamily: 'Segoe UI' ,
                                    fontSize: 12 ,
                                    lineHeight: 18,
                                    formatter: function (value) {
                                        let formatTime = value.data.toTimeString().slice(3,8)
                                        return formatTime
                                    }
                                }
                        },
                        color: this.colorGrap[i]
                    })
                    i++
                    }
                    
            }
            // let minTime = new Date;
            // minTime.setHours(0, 0, 0, 0);
            // this.lineGraph.yAxis.min = minTime
            this.lineGraph.yAxis.max = maxTime
            this.lineGraph.yAxis.min = minTime

            this.lineGraph.xAxis.data = monthsData
            this.lineGraph.series = Series 
            let formatter = function formatter(List){
                let arr = `${List[0].name} <br>`
                for(let item of List){
                    arr+= [item.marker, item.seriesName + ': ', item.data.toTimeString().slice(3,8), '<br>'].join('')
                }
                return arr
          }
          this.lineGraph.tooltip.formatter = formatter
        }
    },
    data() {
        let options = qs.parse(location.search, {ignoreQueryPrefix: true});
      return {
        colorGrap: ['#71A1FF','#AAB9C3','#9382EA','#FFB87A','#74C3FF','#FF7474'],
        initOptions: {
          renderer: options.renderer || 'canvas'
        },
        lineGraph: {
            tooltip: {
                trigger: 'axis',
                showContent: true,
                position: function (pos, params, dom, rect, size) {
                            let obj = {top: 30};
                            obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 70;
                            return obj;
                }
            },
            legend: {
                type: 'scroll',
                bottom: '13%',
                left: '3.5%',
                right: '3.5%',
                icon: 'rect',
                itemHeight: 3,
                // data: [],
                textStyle: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 18,
                    padding: [0, 30, 0, 5]
                }
            // selected: {
            //   'instagram': false
            // }
          },
          grid: {
            top: '10%',
            left: '4%',
            right: '4%',
            bottom: '27%',
            containLabel: true
          },
          xAxis: 
            {
                data: [],
                axisLine: {show: false},
                axisTick: {show: false},
                axisLabel: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 18,
                    formatter: function (value) {
                        return value.slice(0,3)
                    },  
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        type: 'dashed'
                    }
                }
            },
          yAxis: {
            gridIndex: 0,
            type : 'time',
            axisLine: {show: false},
            axisTick: {show: false},
            axisLabel: {
                color: "#101B21" ,
                fontStyle: 'normal' ,
                fontWeight: 'normal' ,
                fontFamily: 'Segoe UI' ,
                fontSize: 12 ,
                lineHeight: 18,
                formatter: function (value) {
                    let formatTime = new Date(value).toTimeString().slice(3,8)
                    return formatTime
                     //[t_date.getMinutes(),t_date.getSeconds()].join(':')
                },  
            }
          },
          series: [],
          animationDuration: 1000
        },
      }
    }
  }
</script>
<style lang="scss" scoped>
  .echarts {
    width: 100%;
    min-height: 250px;
    max-height: 280px;
  }
  .colblock_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.75rem 1.56rem .5rem 1.75rem;//1.25
    -webkit-box-pack: justify;
    justify-content: space-between;
    & h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #101B21;
    }
}
</style>
