<template>
    <div>
        <!-- class="colblock_body" -->
        <div class="colblock_header">
            <h2>
                <slot></slot>
            </h2>
        </div>
        <v-chart
            :options="lineGraph"
            :init-options="initOptions"
            autoresize
        />
    </div>
</template>

<script>
  import qs from 'qs'
  import ECharts from 'vue-echarts'
  import 'echarts/lib/chart/bar'
  import 'echarts/lib/component/tooltip'
  import 'echarts/lib/chart/line'
  import 'echarts/lib/component/polar'
  import 'echarts-gl'
  import 'zrender/lib/svg/svg';
  export default {
    components: {
      'v-chart': ECharts
    },
    mounted(){
        this.DataSelect()
    },
    computed:{
        INCOMING_CALLS(){
            return this.$store.getters['statistics/INCOMING_CALLS']
        }
    },
    watch: {
        INCOMING_CALLS(){
            this.chartsLine()
        },
      connected: {
        handler(value) {
          ECharts[value ? 'connect' : 'disconnect']('radiance')
        },
        immediate: true
      },
      'initOptions.renderer'(value) {
        this.options.renderer = value === 'svg' ? value : undefined;
        let query = qs.stringify(this.options);
        query = query ? ('?' + query) : '';
        history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
      }
    },
    methods: {
      toggleRenderer() {
        if (this.initOptions.renderer === 'canvas') {
          this.initOptions.renderer = 'svg'
        } else {
          this.initOptions.renderer = 'canvas'
        }
      },
      async DataSelect(){
          if(this.$store.getters['statistics/INCOMING_CALLS'].length==0){
               await  this.$store.dispatch('statistics/fetch', this.$store.getters['statistics/STATISTICS_URL'][3])//
          }
      },
        chartsLine(){
            let  monthsData=[],Series=[]
            let i=0
            let grafData = this.$store.getters['statistics/INCOMING_CALLS']
            for(let item in grafData.headers){
                let LineValue=[]
                for(let index of grafData.data){
                    if(item=='id0' && monthsData.indexOf(index[item])==(-1)){
                        monthsData.push(index[item])
                    }
                    else{
                        LineValue.push(index[item])
                    }  
                }
                if(item!="id0"){
                    Series.push({
                        name: grafData.headers[item],
                        type: 'line',
                        data: LineValue,
                        smooth: false,
                        symbolSize: 8,
                        lineStyle:{
                            width: 3,
                        },
                        label: {  normal: {
                                    show: true,
                                    backgroundColor: '#ffffff',
                                    color: "#101B21" ,
                                    fontStyle: 'normal' ,
                                    fontWeight: 'bold' ,
                                    fontFamily: 'Segoe UI' ,
                                    fontSize: 12 ,
                                    lineHeight: 18,
                                }
                        },
                        color: this.colorGrap[i]
                    })
                    i++
                    }
            }
            this.lineGraph.xAxis.data = monthsData
            // this.lineGraph.legend.data = legend
            this.lineGraph.series = Series 
        }
    },
    data() {
        let options = qs.parse(location.search, {ignoreQueryPrefix: true});
        return {
            colorGrap: ['#71A1FF','#AAB9C3','#9382EA','#FFB87A','#74C3FF','#FF7474'],
            //['#74C3FF','#9382EA','#71A1FF','#FF7474','#C6D1D9','#58E5A2','#F8EC31','#FFB87A'],
            initOptions: {
                renderer: options.renderer || 'canvas'
            },
            lineGraph: {
                tooltip: {
                    trigger: 'axis',
                    showContent: true
                },
                legend: {
                    type: 'scroll',
                    bottom: '13%',
                    left: '3.5%',
                    right: '3.5%',
                    icon: 'rect',
                    itemHeight: 3,
                    textStyle: {
                        color: "#101B21" ,
                        fontStyle: 'normal' ,
                        fontWeight: 'normal' ,
                        fontFamily: 'Segoe UI' ,
                        fontSize: 12 ,
                        lineHeight: 18,
                        padding: [0, 30, 0, 5]
                    }
                },
                grid: {
                    top: '10%',
                    left: '4%',
                    right: '4%',
                    bottom: '27%',
                    containLabel: true
                },
                xAxis: {
                    data: [],
                    axisLine: {show: false},
                    axisTick: {show: false},
                    axisLabel: {
                        color: "#101B21" ,
                        fontStyle: 'normal' ,
                        fontWeight: 'normal' ,
                        fontFamily: 'Segoe UI' ,
                        fontSize: 12 ,
                        lineHeight: 18,
                        formatter: function (value) {
                            return value.slice(0,3)
                        },
                    },
                    splitLine: {
                        show: true,
                        lineStyle: {
                            type: 'dashed'
                        }
                    }
                },
                yAxis: {
                    gridIndex: 0,
                    axisLine: {show: false},
                    axisTick: {show: false},
                    axisLabel: {
                        color: "#101B21" ,
                        fontStyle: 'normal' ,
                        fontWeight: 'normal' ,
                        fontFamily: 'Segoe UI' ,
                        fontSize: 12 ,
                        lineHeight: 18,
                    }
                },
                series: [],
                animationDuration: 1000
            }
        }    
    }
  }
</script>
<style lang="scss" scoped>
  .echarts {
    width: 100%;
    min-height: 250px;
    max-height: 280px;
  }
  .colblock_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.75rem 1.56rem .5rem 1.75rem;//1.25
    -webkit-box-pack: justify;
    justify-content: space-between;
    & h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #101B21;
    }
}
</style>
