<template>
    <div>
        <!-- class="colblock_body" -->
        <div class="colblock_header">
            <h2>
                <slot></slot>
            </h2>
        </div>
        <v-chart
            :options="chartsLine"
            :init-options="initOptions"
            autoresize
        />
    </div>
</template>

<script>
  import qs from 'qs'
  import ECharts from 'vue-echarts'
  import 'echarts/lib/chart/bar'
  import 'echarts/lib/component/tooltip'
  import 'echarts/lib/chart/line'
  import 'echarts/lib/component/polar'
  import 'echarts-gl'
  import 'zrender/lib/svg/svg';
  export default {
    components: {
      'v-chart': ECharts
    },
    computed:{
        TIME_NUMBER_CALLS(){
            return this.$store.getters['statistics/TIME_NUMBER_CALLS']
        },
        chartsLine(){
          let lineGraph = {
            tooltip: {
                trigger: 'axis',
                showContent: true,
                position: function (pos, params, dom, rect, size) {
                            let obj = {top: 0};
                            obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 70;
                            return obj;
                }
            },
            legend: {
                show: true,
                bottom: '7%',
                left: '3.5%',
                right: '3.5%',
                icon: 'rect',
                itemHeight: 3,
                textStyle: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 18,
                    padding: [0, 30, 0, 5]
                },
                selected:[]
          },
          grid: {
            top: '10%',
            left: '4%',
            right: '4%',
            bottom: '27%',
            containLabel: true
          },
          xAxis: 
            {
              data: [],
              axisLine: {show: false},
              axisTick: {show: false},
              axisLabel: {
                color: "#101B21" ,
                fontStyle: 'normal' ,
                fontWeight: 'normal' ,
                fontFamily: 'Segoe UI' ,
                fontSize: 12 ,
                lineHeight: 18,
                formatter: function (value) {
                    return value.slice(0,3)
                }, 
             },
              splitLine: {
                  show: true,
                  lineStyle: {
                      type: 'dashed'
                  }
              }
            },
          yAxis: {
            gridIndex: 0,
            type: 'time',
            axisLine: {show: false},
            axisTick: {show: false},
            axisLabel: {
                color: "#101B21" ,
                fontStyle: 'normal' ,
                fontWeight: 'normal' ,
                fontFamily: 'Segoe UI' ,
                fontSize: 12 ,
                lineHeight: 18,
                formatter: function (value) {
                    let formatTime = new Date(value).toTimeString().slice(3,8)
                    return formatTime
                },
            }
          },
          series: [],
          animationDuration: 1000
        }
            let  monthsData=[],Series=[], Legend = []
            let graphApp = this.$store.getters['statistics/TIME_NUMBER_CALLS']
            let indexLegend = 0, nameSeries = '', Selected={}

            let minTime = new Date;
            minTime.setHours(0, 23, 59, 0);
            
            let maxTime = new Date
            maxTime.setHours(0, 0, 0, 0);

            for(let item in graphApp.headers){
                if(item!='id1' && item!='id2'){
                    for(let rusKey in graphApp.data){
                        let LineValue=[]
                        for(let index of graphApp.data[rusKey]){
                            if(item=='id0' && monthsData.indexOf(index[item])==(-1)){
                                monthsData.push(index[item])
                            }
                            else{
                                let time = [] 
                                if(index[item]==0)
                                    time = [0,0]
                                else
                                    time = index[item].split(':')
                                let today = new Date;
                                today.setHours(0, time[0],time[1], 0);
                                if(today>maxTime){
                                    maxTime = today
                                }
                                if(today < minTime){
                                  minTime = today
                                }
                                LineValue.push(today)
                            }  
                        }
                        if(item!="id0"){
                            if(item=="id3") nameSeries = 'Входящий звонок, '+ rusKey
                            if(item=="id4") nameSeries = 'Ожидание ответа, '+ rusKey
                            Legend.push(nameSeries)
                            Selected[nameSeries] = indexLegend < 2;
                            Series.push({
                                name: nameSeries,
                                type: 'line',
                                data: LineValue,
                                smooth: false,
                        // symbol: 'path://M204.11,0C91.388,0,0,91.388,0,204.111c0,112.725,91.388,204.11,204.11,204.11c112.729,0,204.11-91.385,204.11-204.11    C408.221,91.388,316.839,0,204.11,0z M204.11,303.711c-54.817,0-99.26-44.434-99.26-99.248c0-54.817,44.442-99.259,99.26-99.259    c54.813,0,99.264,44.442,99.264,99.259C303.374,259.277,258.924,303.711,204.11,303.711z',
                        // symbol: 'pin',//circle', 'rect', 'roundRect', 'triangle', 'diamond', 'pin', 'arrow
                                symbolSize: 8,
                                lineStyle:{
                                    width: 3,
                                },
                                label: {  normal: {
                                    show: true,
                                    backgroundColor: '#ffffff',
                                    color: "#101B21" ,
                                    fontStyle: 'normal' ,
                                    fontWeight: 'bold' ,
                                    fontFamily: 'Segoe UI' ,
                                    fontSize: 12 ,
                                    lineHeight: 18,
                                    
                                    formatter: function (value) {
                                        let formatTime = value.data.toTimeString().slice(3,8)
                                        return formatTime
                                    }
                                    },
                                },
                                color: this.colorGrap[indexLegend]
                            })
                        indexLegend++
                        }
                    }
                }
                
            }
            


            lineGraph.yAxis.max = maxTime
            lineGraph.yAxis.min = minTime

            // lineGraph.yAxis.maxInterval = Interval



            lineGraph.xAxis.data = monthsData
            lineGraph.legend.data = Legend
            lineGraph.series = Series 
            lineGraph.legend.selected = Selected
            lineGraph.legend.type = 'scroll'

            if(Series.length==2)
                lineGraph.legend.type = 'plain'
            else lineGraph.legend.type = 'scroll'

            let formatter = function formatter(List){
                let arr = `${List[0].name} <br>`
                for(let item of List){
                    arr+= [item.marker, item.seriesName + ': ', item.data.toTimeString().slice(3,8), '<br>'].join('')
                }
                return arr
          }
          lineGraph.tooltip.formatter = formatter

          return lineGraph
        }
    },
    watch: {
        // TIME_NUMBER_CALLS(){
        //     this.chartsLine()
        // },
      connected: {
        handler(value) {
          ECharts[value ? 'connect' : 'disconnect']('radiance')
        },
        immediate: true
      },
      'initOptions.renderer'(value) {
        this.options.renderer = value === 'svg' ? value : undefined;
        let query = qs.stringify(this.options);
        query = query ? ('?' + query) : '';
        history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
      }
    },
    methods: {
        toggleRenderer() {
            if (this.initOptions.renderer === 'canvas') {
                this.initOptions.renderer = 'svg'
            } else {
                this.initOptions.renderer = 'canvas'
            }
        },
    },
    data() {
        let options = qs.parse(location.search, {ignoreQueryPrefix: true});
      return {
          colorGrap: ['#74C3FF','#FF7474','#9382EA','#71A1FF','#C6D1D9','#58E5A2','#F8EC31','#FFB87A'],
          initOptions: {
             renderer: options.renderer || 'canvas'
          }
      }
    }
  }
</script>
<style lang="scss" scoped>
  .echarts {
    width: 100%;
    min-height: 250px;
    max-height: 280px;
  }
  .colblock_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.75rem 1.56rem .5rem 1.75rem;//1.25
    -webkit-box-pack: justify;
    justify-content: space-between;
    & h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #101B21;
    }
}
</style>
