<template>
    <div>
        <!-- class="colblock_body" -->
        <div class="colblock_header">
            <h2>
                <slot></slot>
            </h2>
        </div>
        <v-chart
            :options="chartsLine"
            :init-options="initOptions"
            autoresize
            id='test'
        />
      
    </div>
</template>

<script>
  import qs from 'qs'
  import ECharts from 'vue-echarts'
  import 'echarts/lib/chart/bar'
  import 'echarts/lib/component/tooltip'
  import 'echarts/lib/chart/line'
  import 'echarts/lib/component/polar'
  import 'echarts-gl'
  import 'zrender/lib/svg/svg';
  export default {
    components: {
      'v-chart': ECharts
    },
    computed:{
        NUMBER_CALLS(){
            return this.$store.getters['statistics/TIME_NUMBER_CALLS']
        },
        chartsLine(){
            let lineGraph =  {
              tooltip: {
                    trigger: 'axis',
                    showContent: true,
                    position: function (pos, params, dom, rect, size) {
                                let obj = {top: 0};
                                obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 70;
                                return obj;
                    }
                },
                legend: {
                    bottom: '7%',
                    left: '3.5%',
                    right: '3.5%',
                    icon: 'rect',
                    itemHeight: 3,
                    selected:[],
                    textStyle: {
                        color: "#101B21" ,
                        fontStyle: 'normal' ,
                        fontWeight: 'normal' ,
                        fontFamily: 'Segoe UI' ,
                        fontSize: 12 ,
                        lineHeight: 18,
                        padding: [0, 30, 0, 5]
                    }
              },
              grid: {
                top: '10%',
                left: '4%',
                right: '4%',
                bottom: '27%',
                containLabel: true
              },
              xAxis: 
                {
                  type: 'category',
                  data: [],
                  splitLine: {
                    show: true,
                      lineStyle: {
                          type: 'dashed'
                      }
                  },
                  axisLine: {show: false},
                  axisTick: {show: false},
                  axisLabel: {
                      color: "#101B21" ,
                      fontStyle: 'normal' ,
                      fontWeight: 'normal' ,
                      fontFamily: 'Segoe UI' ,
                      fontSize: 12 ,
                      lineHeight: 18,
                      formatter: function (value) {
                          return value.slice(0,3)
                      },
                  },
                },
              yAxis: {
                gridIndex: 0,
                axisLine: {show: false},
                axisTick: {show: false},
                axisLabel: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 18,
                }
              },
              series: [],
              animationDuration: 1000
        }
            let  monthsData=[],Series=[], Selected={}, legend=[]
            let indexLegend = 0
            let graphApp = this.$store.getters['statistics/TIME_NUMBER_CALLS']
            for(let item in graphApp.headers){
                if(item!='id3' && item!='id4'){
                    for(let rusKey in graphApp.data){
                        let LineValue=[]
                        for(let index of graphApp.data[rusKey]){
                            if(item=='id0'){
                                if(monthsData.indexOf(index[item])==(-1))
                                   monthsData.push(index[item])
                            }
                            else{
                                LineValue.push(index[item])
                            }  
                        }
                        Selected[graphApp.headers[item]+', '+ rusKey] = indexLegend < 2;
                        legend.push(graphApp.headers[item]+', '+ rusKey)
                        if(item!="id0"){
                            Series.push({
                                name: graphApp.headers[item]+', '+ rusKey,
                                type: 'line',
                                data: LineValue,
                                smooth: false,
                                symbolSize: 8,
                                lineStyle:{
                                    width: 3,
                                },
                                label: {  normal: {
                                            show: true,
                                            backgroundColor: '#ffffff',
                                            color: "#101B21" ,
                                            fontStyle: 'normal' ,
                                            fontWeight: 'bold' ,
                                            fontFamily: 'Segoe UI' ,
                                            fontSize: 12 ,
                                            lineHeight: 18,
                                        }
                                },
                                color: this.colorGrap[indexLegend]
                            })
                            indexLegend++
                            }
                        }
                    }
            }
            lineGraph.xAxis.data = monthsData
            lineGraph.legend.data = legend
            lineGraph.series = Series
            lineGraph.legend.selected = Selected

            if(Series.length==2)
                lineGraph.legend.type = 'plain'
            else lineGraph.legend.type = 'scroll'

            return lineGraph
        }
    },
    watch: {
      connected: {
        handler(value) {
          ECharts[value ? 'connect' : 'disconnect']('radiance')
        },
        immediate: true
      },
      'initOptions.renderer'(value) {
        this.options.renderer = value === 'svg' ? value : undefined;
        let query = qs.stringify(this.options);
        query = query ? ('?' + query) : '';
        history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
      }
    },
    methods: {
      toggleRenderer() {
        if (this.initOptions.renderer === 'canvas') {
          this.initOptions.renderer = 'svg'
        } else {
          this.initOptions.renderer = 'canvas'
        }
      },       
    },
    data() {
        let options = qs.parse(location.search, {ignoreQueryPrefix: true});
      return {
        colorGrap: ['#74C3FF','#FF7474','#9382EA','#71A1FF','#C6D1D9','#58E5A2','#F8EC31','#FFB87A'],
        initOptions: {
          renderer: options.renderer || 'canvas'
        },
      }
    }
  }
</script>
<style lang="scss" scoped>
  .echarts {
    width: 100%;
    min-height: 250px;
    max-height: 280px;
  }
  .colblock_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.75rem 1.56rem .5rem 1.75rem;//1.25
    -webkit-box-pack: justify;
    justify-content: space-between;
    & h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #101B21;
    }
}
</style>
