<template>
    <div class="colblock_body">
        <div class="colblock_header">
            <h2>
                <slot></slot>
            </h2>
        </div>
        <v-chart
            :options="genderGraph"
            :init-options="initOptions"
             autoresize
        />
    </div>
</template>

<script>
    import qs from 'qs'
    import ECharts from 'vue-echarts'
    // import ECharts modules manually to reduce bundle size
    import 'echarts/lib/chart/bar'
    import 'echarts/lib/component/tooltip'
    import 'echarts/lib/chart/line'
    import 'echarts/lib/component/polar'
    import 'echarts-gl'
    //подключаем рендеринг Canvas SVG
    import 'zrender/lib/svg/svg';
    // register component to use
    //Vue.component('v-chart', ECharts)

    export default {
        components: {
            'v-chart': ECharts
        },
        mounted() {
            this.DataSelect()
        },
        computed:{
            RECEIVED_CALLS(){
                return this.$store.getters['statistics/RECEIVED_CALLS']
            }
        },
        watch: {
            RECEIVED_CALLS(){
                return this.prepareDataCharts()
            },
            connected: {
                handler(value) {
                    ECharts[value ? 'connect' : 'disconnect']('radiance')
                },
                immediate: true
            },
            'initOptions.renderer'(value) {
                this.options.renderer = value === 'svg' ? value : undefined;
                let query = qs.stringify(this.options);
                query = query ? ('?' + query) : '';
                history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
            }
        },
        methods: {
            toggleRenderer() {
                if (this.initOptions.renderer === 'canvas') {
                    this.initOptions.renderer = 'svg'
                } else {
                    this.initOptions.renderer = 'canvas'
                }
            },
            async DataSelect(){
                if(this.$store.getters['statistics/RECEIVED_CALLS'].length==0){
                    await  this.$store.dispatch('statistics/fetch', this.$store.getters['statistics/STATISTICS_URL'][0])
                }
            },
            prepareDataCharts() {
                let series = []  
                let grafApp = this.$store.getters['statistics/RECEIVED_CALLS']     
                for (let item in grafApp.headers) {
                    series.push({
                        value: grafApp.data[item],
                        name: grafApp.headers[item]
                    })
                }
                function BubbleSort(ArrayList){
                    for (let i = 0; i < ArrayList.length-1; i++){
                        for (let j = 0; j < ArrayList.length-1-i; j++){
                        if (ArrayList[j+1].value > ArrayList[j].value)
                            { let t = ArrayList[j+1]; ArrayList[j+1] = ArrayList[j]; ArrayList[j] = t; }
                        else{}
                        }
                    }
                    return ArrayList;
                }
                BubbleSort(series)
                this.genderGraph.title.text = grafApp.data.total
                this.genderGraph.series.data = series
                this.genderGraph.series.color = this.colorGrap

                if(window.innerWidth <= 1170 && window.innerWidth >= 1044){
                    this.genderGraph.legend.type = 'scroll'
                }
                else{
                    this.genderGraph.legend.type = 'plain'
                }
            }
        },
        data() {
            let options = qs.parse(location.search, {ignoreQueryPrefix: true});
            return {
                colorGrap: ['#74C3FF','#9382EA','#71A1FF','#C6D1D9','#FF7474','#FFB87A','#58E5A2','#F8EC31'],
                initOptions: {
                    renderer: options.renderer || 'canvas'
                },
                genderGraph: {
                    tooltip: {
                        trigger: 'item',
                        formatter: "{b} : {c}"// ({d}%)
                    },
                    title: {
                        text: "",
                        subtext: 'Всего вызовов',
                        x: 'center',
                        top: '24%',
                        textStyle: {
                            color: '#101B21',
                            fontFamily: 'Segoe UI',
                            fontWeight: 'bold',
                            fontSize: 24,
                            lineHeight: 14,
                        },
                        subtextStyle: {
                            color: '#101B21',
                            fontFamily: 'Segoe UI',
                            fontWeight: 'normal',
                            fontSize: 12,
                            lineHeight: 5,
                        }
                    },
                    legend: {
                        orient: 'horizontal',
                        left: '3.5%',
                        right: '3.5%',
                        // bottom: 1,
                        top: '64%',
                        icon: 'path://M204.11,0C91.388,0,0,91.388,0,204.111c0,112.725,91.388,204.11,204.11,204.11c112.729,0,204.11-91.385,204.11-204.11    C408.221,91.388,316.839,0,204.11,0z M204.11,303.711c-54.817,0-99.26-44.434-99.26-99.248c0-54.817,44.442-99.259,99.26-99.259    c54.813,0,99.264,44.442,99.264,99.259C303.374,259.277,258.924,303.711,204.11,303.711z',
                        //'path://M409.133,109.203c-19.608-33.592-46.205-60.189-79.798-79.796C295.736,9.801,259.058,0,219.273,0   c-39.781,0-76.47,9.801-110.063,29.407c-33.595,19.604-60.192,46.201-79.8,79.796C9.801,142.8,0,179.489,0,219.267   c0,39.78,9.804,76.463,29.407,110.062c19.607,33.592,46.204,60.189,79.799,79.798c33.597,19.605,70.283,29.407,110.063,29.407   s76.47-9.802,110.065-29.407c33.593-19.602,60.189-46.206,79.795-79.798c19.603-33.596,29.403-70.284,29.403-110.062   C438.533,179.485,428.732,142.795,409.133,109.203z M353.742,297.208c-13.894,23.791-32.736,42.633-56.527,56.534   c-23.791,13.894-49.771,20.834-77.945,20.834c-28.167,0-54.149-6.94-77.943-20.834c-23.791-13.901-42.633-32.743-56.527-56.534   c-13.897-23.791-20.843-49.772-20.843-77.941c0-28.171,6.949-54.152,20.843-77.943c13.891-23.791,32.738-42.637,56.527-56.53   c23.791-13.895,49.772-20.84,77.943-20.84c28.173,0,54.154,6.945,77.945,20.84c23.791,13.894,42.634,32.739,56.527,56.53   c13.895,23.791,20.838,49.772,20.838,77.943C374.58,247.436,367.637,273.417,353.742,297.208z',
                        //'path://m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 341.332031c-47.0625 0-85.332031-38.269531-85.332031-85.332031s38.269531-85.332031 85.332031-85.332031 85.332031 38.269531 85.332031 85.332031-38.269531 85.332031-85.332031 85.332031zm0 0',
                        //'path:// 10M30.10,53.2C16.8,53.2,5.3,41.7,5.3,27.6S16.8,2,30.9,2C45,2,56.4,13.5,56.4,27.6S45,53.2,30.9,53.2z M30.9,3.5C17.6,3.5,6.8,14.4,6.8,27.6c0,13.3,10.8,24.1,24.101,24.1C44.2,51.7,55,40.9,55,27.6C54.9,14.4,44.1,3.5,30.9,3.5z  ',
                        // data:[],
                        textStyle: {
                            color: "#101B21" ,
                            fontStyle: 'normal' ,
                            fontWeight: 'normal' ,
                            fontFamily: 'Segoe UI' ,
                            fontSize: 12 ,
                            // lineHeight: 18,
                            padding: [0, 20, 0, 0]
                        }
                    },
                    series: 
                        {
                            type: 'pie',
                            radius: ['40%', '51%'],
                            center: ['50%', '31%'],
                            data: 0,
                            color: [],
                            startAngle: 90,
                            clockwise: false,
                            //  hoverOffset :10,
                            minShowLabelAngle: 20,//скрывает label
                            label: {
                                normal: {
                                    formatter: '{c|{c}}\n{b|{b}}',
                                    rich:{
                                        c:{
                                            fontFamily: 'Segoe UI',
                                            fontWeight: 'bold',
                                            fontSize: 12,
                                            lineHeight: 18,
                                            color: '#101B21',
                                        },
                                        b:{
                                            fontFamily: 'Segoe UI',
                                            fontWeight: 'normal',
                                            fontSize: 12,
                                            lineHeight: 18,
                                            color: '#101B21',
                                        }
                                    }
                                }
                            },
                            labelLine:{
                                show: false,
                            },
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    
                },
            }
        }
    }
</script>
<style scoped lang="scss">
  .echarts {
    width: 100%;
    min-height: 250px;
    max-height: 270px;
  }
  .colblock_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.75rem 1.56rem .5rem 1.75rem;//1.25
    -webkit-box-pack: justify;
    justify-content: space-between;
    & h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #101B21;
    }
}
</style>
