<template>
    <div class="colblock_body">
        <div class="colblock_header">
            <h2>
                <slot></slot>
            </h2>
        </div>
        <v-chart
            :options="BarGraph"
            :init-options="initOptions"
            autoresize
        />
    </div>
</template>

<script>
  import qs from 'qs'
  import ECharts from 'vue-echarts'
  import 'echarts/lib/chart/bar'
  import 'echarts/lib/component/tooltip'
  import 'echarts/lib/chart/line'
  import 'echarts/lib/component/polar'
  import 'echarts-gl'
  import 'zrender/lib/svg/svg';
  export default {
    components: {
      'v-chart': ECharts
    },
    mounted(){
        this.DataSelect()
    },
    computed:{
      ANALYSIS_CLOSE_CALLS(){
        return this.$store.getters['statistics/ANALYSIS_CLOSE_CALLS']
      }
    },
    watch: {
      ANALYSIS_CLOSE_CALLS(){
        this.chartsBar()
      },
      connected: {
        handler(value) {
          ECharts[value ? 'connect' : 'disconnect']('radiance')
        },
        immediate: true
      },
      'initOptions.renderer'(value) {
        this.options.renderer = value === 'svg' ? value : undefined;
        let query = qs.stringify(this.options);
        query = query ? ('?' + query) : '';
        history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
      }
    },
    methods: {
      toggleRenderer() {
        if (this.initOptions.renderer === 'canvas') {
          this.initOptions.renderer = 'svg'
        } else {
          this.initOptions.renderer = 'canvas'
        }
      },
      async DataSelect(){
          if(this.$store.getters['statistics/ANALYSIS_CLOSE_CALLS'].length==0){
               await  this.$store.dispatch('statistics/fetch', this.$store.getters['statistics/STATISTICS_URL'][6])
          }
      },
        chartsBar(){
            let  monthsData=[],Series=[], Legend = [], Name, tooltipArray = []
            let grafData = this.$store.getters['statistics/ANALYSIS_CLOSE_CALLS']
            let i = 0
            for(let item in grafData.headers){
                let LineValue=[]
                for(let index of grafData.data){
                    if(item=='id0' && monthsData.indexOf(index[item])==(-1)){
                        monthsData.push(index[item])
                    }
                    else{
                        LineValue.push(Number(index[item]))
                    }  
                }
                  if(item=='id11'){
                    let max = 0;
                    for (let i = 0; i < LineValue.length; i++) {
                      if (max < LineValue[i]) {
                        max = LineValue[i]
                      }
                    }
                    max = max + (max * 0.15);
                    let maxArr = Array(LineValue.length).fill(max);
                    tooltipArray = LineValue
                    Series.push({
                      name: 'всего',
                      type: 'line',
                      z: 1,
                      itemStyle: {
                          color: '#E8E8E8'
                      },
                      data: maxArr,
                      label: {  
                          normal: {
                              show: true,
                              position: 'top',
                              backgroundColor: '#ffffff',
                              color: "#101B21" ,
                              fontStyle: 'normal' ,
                              fontWeight: 'bold' ,
                              fontFamily: 'Segoe UI' ,
                              fontSize: 12 ,
                              lineHeight: 14,
                              align: 'center',
                              formatter: function (value) {
                                return [LineValue[value.dataIndex],value.seriesName].join('\n')
                              }, 
                              rich:{
                                a:{
                                  fontSize: 9,
                                  color: 'rgba(16, 27, 33, 0.5)'
                                }
                              },
                              // distance: 60 //-15
                          }
                      },
                  })
                  }
                  else if(item!="id0"){
                    Legend.push(grafData.headers[item])
                    Series.push({
                        name: grafData.headers[item],
                        type: 'bar',
                        stack: 'one',
                        seriesLayoutBy: 'row',
                        data: LineValue,
                        barMaxWidth: 19,
                        z: 100+i,
                        label: {  normal: {
                                show: true,
                                position: 'top',
                                backgroundColor: '#ffffff',
                                color: "#101B21" ,
                                fontStyle: 'normal' ,
                                fontWeight: 'bold' ,
                                fontFamily: 'Segoe UI' ,
                                fontSize: 12 ,
                                lineHeight: 18,
                                distance :-5
                            }
                        },
                        color: this.colorGrap[i]
                    })
                    i++
                  }
            }
            function BubbleSort(ArrayList){
                    for (let i = 0; i < ArrayList.length-1; i++){
                        for (let j = 0; j < ArrayList.length-1-i; j++){
                        if (ArrayList[j+1].data[0] < ArrayList[j].data[0])
                            { let t = ArrayList[j+1]; ArrayList[j+1] = ArrayList[j]; ArrayList[j] = t; }
                        else{}
                        }
                    }
                    return ArrayList;
                }
                BubbleSort(Series)

            this.BarGraph.xAxis.data = monthsData
            this.BarGraph.legend.data = Legend
            this.BarGraph.series = Series 

            let formatter = function formatter(List){
                let arr = `${List[0].name} <br>`
                for(let item of List){
                    if(item.seriesName == "всего"){
                        arr+= [item.marker, item.seriesName + ': ', tooltipArray[item.dataIndex], '<br>'].join('')
                    }
                    else{
                        arr+= [item.marker, item.seriesName + ': ', item.data, '<br>'].join('')
                    }
                }
                return arr
          }
          this.BarGraph.tooltip.formatter = formatter
        }
    },
    data() {
        let options = qs.parse(location.search, {ignoreQueryPrefix: true});        
      return {
        colorGrap: ['#FF7474','#74C3FF','#C6D1D9'],
        initOptions: {
          renderer: options.renderer || 'canvas'
        },
        BarGraph: {
          tooltip: {
            trigger: 'axis',
            // showContent: true,
            axisPointer: {
                // type: 'shadow'
            },
            position: function (pos, params, dom, rect, size) {
                                let obj = {top: 20};
                                obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 70;
                                return obj;
                    }
          },
          legend: {
                type: 'scroll',
                data:[],
                bottom: '16%',
                left: '3.5%',
                right: '3.5%',
                icon: 'path://M10 10 H 90 V 90 H 10 L 10 10',
                textStyle: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 14,
                    padding: [0, 10, 0, 0]
                }
          },
          grid: {
            top: '7%',
            left: '4%',
            right: '4%',
            bottom: '28%',
            containLabel: true
          },
          xAxis: 
            {
                data: [],
                axisLine: {show: false},
                axisTick: {show: false},
                axisLabel: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 18,
                    formatter: function (value) {
                        return value.slice(0,3)
                    },
                },
                splitLine: {
                  show: true,
                    lineStyle: {
                        type: 'dashed'
                    }
                },
                // splitArea:{
                //   show: true,
                // },
                // axisPointer:{
                //   show: true
                // }
            },
          yAxis: {
                gridIndex: 0,
                axisLine: {show: false},
                axisTick: {show: false},
                max: function (value) {
                    let maxValue = value.max +  (value.max * 0.15)
                    return Math.round(maxValue);
                },
                axisLabel: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 18,
                }
          },
          series: [],
          animationDuration: 1000
        },
      }
    }
  }
</script>
<style lang="scss" scoped>
  .echarts {
    width: 100%;
    min-height: 250px;
    max-height: 280px;
    color: rgba(85, 85, 85, 0.753);
    
  }
.colblock_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.75rem 1.56rem .5rem 1.75rem;//1.25
    -webkit-box-pack: justify;
    justify-content: space-between;
    & h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #101B21;
    }
}
</style>
