<template>
    <div class="colblock_body">
        <div class="colblock_header">
            <h2>
                <slot></slot>
            </h2>
        </div>
        <v-chart
            :options="BarGraph"
            :init-options="initOptions"
            autoresize
        />
    </div>
</template>

<script>
  import qs from 'qs'
  import ECharts from 'vue-echarts'
  import 'echarts/lib/chart/bar'
  import 'echarts/lib/component/tooltip'
  import 'echarts/lib/chart/line'
  import 'echarts/lib/component/polar'
  import 'echarts-gl'
  import 'zrender/lib/svg/svg';
  export default {
    components: {
      'v-chart': ECharts
    },
    mounted(){
        this.DataSelect()
    },
    computed:{
      ANALYSIS_RECEIVED_REQUESTS(){
        return this.$store.getters['statistics/ANALYSIS_RECEIVED_REQUESTS']
      }
    },
    watch: {
      ANALYSIS_RECEIVED_REQUESTS(){
        this.chartsBar()
      },
      connected: {
        handler(value) {
          ECharts[value ? 'connect' : 'disconnect']('radiance')
        },
        immediate: true
      },
      'initOptions.renderer'(value) {
        this.options.renderer = value === 'svg' ? value : undefined;
        let query = qs.stringify(this.options);
        query = query ? ('?' + query) : '';
        history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
      }
    },
    methods: {
      toggleRenderer() {
        if (this.initOptions.renderer === 'canvas') {
          this.initOptions.renderer = 'svg'
        } else {
          this.initOptions.renderer = 'canvas'
        }
      },
      async DataSelect(){
          if(this.$store.getters['statistics/ANALYSIS_RECEIVED_REQUESTS'].length==0){
               await  this.$store.dispatch('statistics/fetch', this.$store.getters['statistics/STATISTICS_URL'][4])
          }
      },
        chartsBar(){
            let Series=[], NameGrup=[]
            let grafData= this.$store.getters['statistics/ANALYSIS_RECEIVED_REQUESTS']
            for(let item in grafData.data){
                let LineValue=[]
                for(let index in grafData.headers){
                    if(index!="id0"){
                        if(NameGrup.indexOf(grafData.headers[index])==(-1)){
                            NameGrup.push(grafData.headers[index])
                        }
                        LineValue.push(grafData.data[item][index])
                    }
                }
                Series.push({
                        name: grafData.data[item]['id0'],
                        type: 'bar',
                        seriesLayoutBy: 'row',
                        data: LineValue,
                        smooth: false,
                        barMaxWidth: 19,
                        label: {  
                            normal: {
                            show: true,
                            position: 'top',
                            backgroundColor: '#ffffff',
                            color: "#101B21" ,
                            fontStyle: 'normal' ,
                            fontWeight: 'bold' ,
                            fontFamily: 'Segoe UI' ,
                            fontSize: 12 ,
                            lineHeight: 18,
                            }
                        },
                        color: this.Color[item]
                    })
            }
            this.BarGraph.xAxis.data = NameGrup
            this.BarGraph.series = Series 
        }
    },
    data() {
        let options = qs.parse(location.search, {ignoreQueryPrefix: true});        
      return {
        Color:['#FF7474','#74C3FF','#C6D1D9'],
        initOptions: {
          renderer: options.renderer || 'canvas'
        },
        BarGraph: {
          tooltip: {
            trigger: 'axis',
            showContent: true
          },
          legend: {
                // bottom: 0,
                type: 'scroll',
                bottom:'10%',
                // left: '5%', 
                left: '3.5%',
                right: '3.5%',
                icon: 'path://M10 10 H 90 V 90 H 10 L 10 10',
                textStyle: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 14,
                    padding: [0, 10, 0, 0]
                }
          },
          grid: {
            // top: '0%',
            // left: '4%',
            // right: '4%',
            // bottom: '7%',
            top: '7%',
            left: '4%',
            right: '4%',
            bottom: '22%',
            containLabel: true
          },
          xAxis: 
            {
                data: [],
                axisLine: {show: false},
                axisTick: {show: false},
                axisLabel: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 18,
                }
            },
          yAxis: {
                gridIndex: 0,
                axisLine: {show: false},
                axisTick: {show: false},
                axisLabel: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 18,
                }
          },
          series: [],
          animationDuration: 1000
        },
      }
    }
  }
</script>
<style lang="scss" scoped>
  .echarts {
    width: 100%;
    min-height: 250px;
    max-height: 280px;
  }
  .colblock_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.75rem 1.56rem .5rem 1.75rem;//1.25
    -webkit-box-pack: justify;
    justify-content: space-between;
    & h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #101B21;
    }
}
</style>
