<template>
    <div>
      <!-- <nav>  </nav>-->
        <div class="header-content">
            <div class="back_block">
                <a href="http://185.251.89.141:8084/marking-system" class="back_link"> Назад </a>
                <p> Статистика КЦ за период с 01.01.2020 по 30.06.2020 </p>
            </div>
            <div class="filter_block"> 
              <!-- <select name="name" id=""></select>  -->
              <div @mouseleave="liveFilterMove" class="wrapper-filter">
                  <p @click="enterFilterMove" class="filter-title">{{titleFilter}}</p>
                  <div v-if="filterList" class="filter-list">
                    <!-- <p class="filter-link" @click="onClick('Все товарные группы','all')">Все товарные группы</p> -->
                    <p class="filter-link"
                      v-for="items in ListData"
                      :key="items.url"
                      @click="onClick(items)"
                    >
                      {{ items.name }}
                    </p>
                  </div>
              </div>    
              <a class="filter_button" href="http://185.251.89.141:8084/marking-system"></a>        
            </div>
        </div>
        <Nuxt />
      
    </div>
</template>
<script>
export default {
  // computed:{
  //       TIME_NUMBER_CALLS(){
  //           return this.$store.getters['statistics/TIME_NUMBER_CALLS']
  //       }
  // },
  // watch: {
  //       TIME_NUMBER_CALLS(){
  //           this.filterSelect()
  //       },
  // },
  methods:{
      enterFilterMove() {
          this.filterList = true
      },
      liveFilterMove() {
          this.filterList = false
      },
      onClick(event) {
        if(this.titleFilter!=event.name){
            this.titleFilter = event.name
            this.$store.dispatch('statistics/fetchCall', event.url)
        }
      },
    // filterSelect(){
      
    // }
  },
  data(){
    return{
      titleFilter: 'Все товарные группы',
      filterList: false,
      ListData: [
          {
              name: 'Все товарные группы',
              url: 'all'
          },
          {
              name:'общие данные КЦ', 
              url: 'kv-general-data'
          },
          { 
              name:'Фарма', 
              url: 'pharma'
          },
          {
              name:'РВ', 
              url: 'pv'
          },
          {
              name:'Меха', 
              url: 'furs'
          },
          {
              name:'Лег.Пром+обувь', 
              url: 'lprom'
          },
          {
              name:'Молоко', 
              url: 'milk'
          },
          {
              name:'Табак', 
              url: 'tobacco'
          }
      ]
    }
  }
  
}
</script>

<style lang="scss">
@import "~assets/scss/utils/vars";
/* back.svg */
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}








.header-content{
  padding: 0 2.125rem;
  width: 100%;
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}
.back_block{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  & p{
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1.75rem;
    align-items: center;
    color: #101B21;
  }
}
.back_link {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: .875rem;
    line-height: .875rem;
    color: #101B21;
    padding-left: 1.625rem;
    background: url('~assets/img/back.svg') 0 50% no-repeat;
    background-size: .875rem .56rem;
    margin-right: 3.187rem;
  }
  .filter_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
  }
  .filter_button{
    width: 2.5rem;
    height: 2.5rem;
    background: url('~assets/img/filter_header.svg') center center no-repeat;
    background-size: 50% 50%;
    background-color: #F6F42E;
    margin-left: 1.25rem;
  }
  .wrapper-filter {
    font-family:'Segoe UI';
    font-style: normal;
    font-weight: normal;
    font-size: .875rem;
    line-height: .875rem;
    color: #101B21;
    // margin: -2.7rem 0 0.7rem 0;
    position: relative;
    background: transparent;
    z-index: 10000;
  }
  .filter-title {
    width: 16.563rem;///max-content;
    border: 1px solid #E8E8E8;
    border-radius: .5rem;
    padding: .688rem 1.25rem .94rem 1.25rem;
    cursor: pointer;
    background: url('~assets/img/filter_list.svg') 94% 50% no-repeat;
    background-size: .625rem .375rem;
    background-color: #ffffff;

  }
  .filter-list {
    width: 100%;
    background: #fff;
    // padding: .344rem 0;
    border: 1px solid #E8E8E8;
    border-radius: .5rem;
    position: absolute;
  }
  .filter-link {
    padding: .6rem 1.25rem .9rem 1.25rem;
    cursor: pointer;
  }
  .filter-link:hover{
    background:  #E8E8E8;
  }
  // .filter-link:nth-child()
  .filter-link:first-child
  {
    border-radius: .5rem .5rem 0 0 ;
  }
  .filter-link:last-child
  {
    border-radius: 0 0 .5rem .5rem;
  }
  
html {
  line-height: $mainLineHeight;
	font-size: 16px;
	color: $mainFontColor;
    height: 100%;
  @media screen and (max-width: 1440px) {
		font-size: 14px;
  }
  @media screen and (max-width: 768px) {
		font-size: 13px;
  }
  @media screen and (max-width: 480px) {
		font-size: 12px;
  }
  @media screen and (max-width: 375px) {
		font-size: 11px;
  }
}

</style>
