<template>
  <div class="admin">
      <h3>Загрузка файла</h3>
      <vue-dropzone ref="myVueDropzone" id="dropzone"
                    :options="dropzoneOptions" class="admin_dropzone"
                    @vdropzone-file-added="vfileAdded"
                    :value="ValueFile"
      >
      </vue-dropzone>
      <button class="admin__loading-save" @click="submitFile">Отправить файл</button>
  </div>
</template>
<script>
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'
  import axios from 'axios';

  export default {
      components: {
      vueDropzone: vue2Dropzone,
    },
    methods: {
      //Добавление файла на сервер
      vfileAdded(file) {
        this.ValueFile = file
      },
      async submitFile() {
        /*Initialize the form data*/
        let formData = new FormData();
        /*Add the form data we need to submit*/
        formData.append('file', this.ValueFile);
        /* Make the request to the POST /single-file URL*/
        let app = this;
          await axios.post('https://xn--c1aj1aj.xn--p1ai/dashboard-service/api/v1/mdlp/upload-file',
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }
        ).then(function (response) {
          app.responseLoadFile = response.data;
        })
          .catch(function (response) {
          });

          this.$refs.myVueDropzone.removeAllFiles(true)
      },
    },
    data() {
      return {
        responseLoadFile: "",
        dropzoneOptions: {
          url: 'https://xn--c1aj1aj.xn--p1ai/dashboard-service/api/v1/mdlp/upload-file',
          thumbnailWidth: 150,
          maxFilesize: 1,
          maxFiles: 1,
          addRemoveLinks: true,
          parallelUploads: 1,
          headers: {'Content-Type': 'multipart/form-data'},
          dictDefaultMessage: "<p class='admin__dropzone-text'>Загрузить .xlsx (.xls)</p>",
          paramName: "file",
          accept: function (file, done) {
            if (file.name !== 0) {
              let NameFile = file.name
            } else {
              done();

            }
          }
        },
        ValueFile: '',
      }
    },
  }
</script>
<style lang="scss">
  .admin {
    margin: 2rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Segoe UI';
    transition: .6s;
    & h3 {
        font-weight: 600;
        font-size: 1.75rem;
        color: #343434;
    }
  }
  
  // .loading_indent {
  //   padding-left: 1rem;
  // }
  .dropzone {
    min-height: 7rem;
    // height: 17vh;
    padding: 0;
  }
  .dropzone .dz-message {
    text-align: center;
  }
  .vue-dropzone {
    margin: 1.125rem 0;
    border: 0.8px solid #EAEAEA;
    border-radius: 10px;
    font-size: 0.75rem;
    color: #535353;
    width: 65%;
    // height: 13rem;
  }
  .admin__dropzone-text {
    padding-top: 6rem;
    background: url('~assets/img/doc_add.svg') center center no-repeat;
    background-size: 4rem 2.5rem;
    font-family: 'Segoe UI';
    font-size: 0.8rem;
    color: #535353;
  }

  .admin__loading-save {
    width: 12rem;
    margin-top: 0.5rem;
    font-family: 'Segoe UI';
    font-weight: 800;
    font-size: 0.875rem;
    color: #63666A;
    padding: 0.475rem 0.3125rem 0.5375rem 0.4375rem;
    background: rgb(254, 212, 91);//#F6F42E;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
  }
 

</style>
