<template>
    <grid-layout
    :layout.sync="financeLayout"
    :col-num="12"
    :row-height="42"
    :is-draggable="false"
    :is-resizable="false"
    :is-mirrored="false"
    :vertical-compact="true"
    :margin="[14, 14]"
    :use-css-transforms="true"
    :responsive="true"
    :autoSize="true"
    :breakpoints="{ lg: 1200, md: 996, sm: 768, xs: 480, xxs: 0 }"
    :cols="{ lg: 12, md: 12, sm: 2 , xs: 2, xxs: 2 }"
    class="grid-colblock"
    >
    <grid-item class="colblock appeal" v-for="item in financeLayout"
                :x="item.x"
                :y="item.y"
                :w="item.w"
                :h="item.h"
                :i="item.i"
                :min-w="item.minW"
                :min-h="item.minH"
                :max-h="item.maxH"
                :key="item.i"
    >
        <MeanTimeCallsLine v-if="item.i===0">Среднее время вызовов, мин.</MeanTimeCallsLine>
        <NumberCallsLine v-if="item.i===1">Количество вызовов, шт.</NumberCallsLine>

        <ReceivedCallsPie v-else-if="item.i===2">Количество поступивших вызовов в разрезе ТГ, шт.</ReceivedCallsPie>
        <CallDurationLine v-if="item.i===3">Среднее продолжительность звонков в разрезе ТГ, мин.</CallDurationLine>
        <IncomingCallsLine v-if="item.i===4">Количество пуступивших звонков в разрезе ТГ, мин.</IncomingCallsLine>

        <ReceivedAppealPie v-else-if="item.i===5">Количество поступивших обращений в разрезе ТГ, шт.</ReceivedAppealPie>
        <tgAnalysisAppealBar v-else-if="item.i===6">Анализ поступивших обращений в разрезе ТГ, шт.</tgAnalysisAppealBar>

        <ClosedAppealsPie v-else-if="item.i===7">Количество закрытых обращений, шт.</ClosedAppealsPie>
        <AnalysisAppealBar v-else-if="item.i===8">Анализ поступивших обращений, шт.</AnalysisAppealBar>
        <TechnicalSupportOneBar v-else-if="item.i===9">Закрытые обращения в разрезе линий Службы технической поддержки, шт.</TechnicalSupportOneBar>

    </grid-item>
    </grid-layout>
</template>
<script>
import VueGridLayout from 'vue-grid-layout'
import MeanTimeCallsLine from '@/components/MeanTimeCallsLine'
import NumberCallsLine from '@/components/NumberCallsLine'
import ReceivedCallsPie from '@/components/ReceivedCallsPie'
import ReceivedAppealPie from '@/components/ReceivedAppealPie'
import ClosedAppealsPie from '@/components/ClosedAppealsPie'
import CallDurationLine from '@/components/CallDurationLine'
import IncomingCallsLine from '@/components/IncomingCallsLine'
import tgAnalysisAppealBar from '@/components/tgAnalysisAppealBar'
import AnalysisAppealBar from '@/components/AnalysisAppealBar'
import TechnicalSupportOneBar from '@/components/TechnicalSupportOneBar'

// MyBusBar,
export default {//finance
    components:{
        MeanTimeCallsLine,
        NumberCallsLine,
        ReceivedCallsPie,
        ReceivedAppealPie,
        ClosedAppealsPie,
        CallDurationLine,
        IncomingCallsLine,
        tgAnalysisAppealBar,
        AnalysisAppealBar,
        TechnicalSupportOneBar,

        GridLayout: VueGridLayout.GridLayout,
        GridItem: VueGridLayout.GridItem
    },
    fetch({store}){
        if(store.getters['statistics/TIME_NUMBER_CALLS'].length==0){
            store.dispatch('statistics/fetchCall')
        }
    },
    computed: {
        // isDragg() {
        //     return this.$store.getters['layout/DRAGGABLE']
        // },
    },
    data(){
        return{
            financeLayout: [
                {
                    "x": 0,
                    "y": 0,
                    "w": 6,
                    "h": 6,
                    i: 0,
                    "minH": 6,
                    "maxH": 6,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                 {
                    "x": 6,
                    "y": 0,
                    "w": 6,
                    "h": 6,
                    i: 1,
                    "minH": 6,
                    "maxH": 6,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 0,
                    "y": 6,
                    "w": 3,
                    "h": 6,
                    i: 2,
                    "minH": 6,
                    "maxH": 6,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 3,
                    "y": 6,
                    "w": 4.5,
                    "h": 6,
                    i: 3,
                    "minH": 6,
                    "maxH": 6,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 8,
                    "y": 6,
                    "w": 4.5,
                    "h": 6,
                    i: 4,
                    "minH": 6,
                    "maxH": 6,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 0,
                    "y": 12,
                    "w": 3,
                    "h": 6,
                    i: 5,
                    "minH": 6,
                    "maxH": 6,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 3,
                    "y": 12,
                    "w": 9,
                    "h": 6,
                    i: 6,
                    "minH": 6,
                    "maxH": 6,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 0,
                    "y": 18,
                    "w": 3,
                    "h": 6,
                    i: 7,
                    "minH": 6,
                    "maxH": 6,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 3,
                    "y": 18,
                    "w": 4.5,
                    "h": 6,
                    i: 8,
                    "minH": 6,
                    "maxH": 6,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 8,
                    "y": 18,
                    "w": 4.5,
                    "h": 6,
                    i: 9,
                    "minH": 6,
                    "maxH": 6,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                }
            ]
        }
    },

}
</script>
<style lang="scss">//scoped
.grid-colblock{
    margin: 1.5rem;
}
.colblock {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFFDFD;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: .87rem;
}

</style>
